
th {
    color: white;
    background: black;
}

.col_heading {
    background-color: #FF4B4B;
    color: white
}

button{
    background-color: #FF4B4B;
    color: white
}

.css-1prua9e {
    background-color: #FF4B4B;
    color: white
}

.stButton {
    text-align: right
}